<a href="https://colab.research.google.com/github/Nikhil07-source/Nikhil07-source/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Pandas**
Pandas is an open-source library built on top of NumPy and is used for data manipulation.

- It introduces data structures like DataFrame and Series that make working with structured data more efficient.

### __Introduction to Series__
- A Series is a one-dimensional array-like object containing data and labels or index.

In [ ]:
import pandas as pd

list = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(list)
print(series)
print('Accessing the item which is in 4th indexing:', series[4]) #Here we are accessing the item by indexing.

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
Accessing the item which is in 4th indexing: 5

In [ ]:
#Changing index of above series
index = ['a','b','c','d','e','f','g','h','i','j']
series_with_index = pd.Series(list, index)
print(series_with_index)
print("Accessing the item from series by assigned indexing which is in 'e's place:", series_with_index['e']) #Here we are accessing the item from series by assigned indexing.

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64
Accessing the item from series by assigned indexing which is in 'e's place: 5

In [ ]:
#Creating a Pandas Series Using Dictionary
dict = {'a':1,'b':2,'c':3,'d':4,'e':5,'f':6,'g':7,'h':8,'h':9,'i':10}
series_using_dict = pd.Series(dict)
print(series_using_dict)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     9
i    10
dtype: int64

In [ ]:
#Returing the first n rows by using head() function.
print('Here we are using default head function which will only print first top 5 rows:\n', series.head()) #By default it will only take top 5
print('Here we are only taking top 3 rows of the series:\n', series.head(3)) #Now here we are taking only top 3 head from series.
print('Now we are using negative value to get rows from top:\n', series.head(-4)) #It will subtract the value given by us between brackets from total no of rows.

Here we are using default head function which will only print first top 5 rows:
 0    1
1    2
2    3
3    4
4    5
dtype: int64
Here we are only taking top 3 rows of the series:
 0    1
1    2
2    3
dtype: int64
Now we are using negative value to get rows from top:
 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
#Returing the last n rows by using tail() function.
print('Now we are getting last n rows:\n', series.tail()) #Same as .head() it will return only last 5 rows as default.
print('Here we are only taking last 3 rows of the series:\n', series.tail(3)) #Now here we are taking only last 3 rows from series, same as head.
print('Now we are using negative value to get row from last:\n', series.tail(-6))

Now we are getting last n rows:
 5     6
6     7
7     8
8     9
9    10
dtype: int64
Here we are only taking last 3 rows of the series:
 7     8
8     9
9    10
dtype: int64
Now we are using negative value to get row from last:
 6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
#Shape of the Series we use .shape
print('The shape of above series is:', series.shape) #Here we are getting the shape of the series, it is 1 dimensional thatwhy it prints: (10,)
print('The Descriptive Statistics of above series is:', series.describe()) #We use .describe() function to get the descriptive statistic of series.
print('The unique values in above series are:', series.unique()) #To get unique values in a series we use .unique() function.
print('The number of unique values in above series are:', series.nunique()) #To get the numbers of unique values in a series we use .nunique() function.

The shape of above series is: (10,)
The Descriptive Statistics of above series is: count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000
dtype: float64
The unique values in above series are: [ 1  2  3  4  5  6  7  8  9 10]
The number of unique values in above series are: 10

In [ ]:
#Airthmetic Operations in Series using pandas
series = pd.Series([1,2,3,4,5,6,7,8,9,10])
index = ['a','b','c','d','e','f','g','h','i','j']
series_with_index = pd.Series(list, index)
result = series + series_with_index #It is not working as expected because here index of both "series" and "series_with_index" is not same thatwhy it is concatenating indexes, instead of adding.
print(result)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
i   NaN
j   NaN
dtype: float64

In [ ]:
new_result = series + series
print(new_result) #Here it is adding because indexes are same in both the series.

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [ ]:
a = pd.Series([2,4,6,8,10,12,14,16,18,20])
b = pd.Series([4,8,12,16,20,24,28,32,36,40])
add_result = a + b
sub_result = b - a
mul_result = a * b
div_result = b / a
#If items in a series will not same in both, it will return NaN(Not a Number).
print('The Addition of above two series is:\n',add_result) #It will add element wise.
print('The Substraction of above two series is:\n', sub_result) #It will substract element wise.
print('The Multiplication of above to series is:\n', mul_result) #It will multiply element wise.
print('The Divison of above two series is:\n', div_result) #It will divide element wise.

The Addition of above two series is:
 0     6
1    12
2    18
3    24
4    30
5    36
6    42
7    48
8    54
9    60
dtype: int64
The Substraction of above two series is:
 0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64
The Multiplication of above to series is:
 0      8
1     32
2     72
3    128
4    200
5    288
6    392
7    512
8    648
9    800
dtype: int64
The Divison of above two series is:
 0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
5    2.0
6    2.0
7    2.0
8    2.0
9    2.0
dtype: float64

In [ ]:
#Apply a function to each item of Series using .apply(lambda). By using .apply(lambda) we can perform action to a particular items in series in one go.
new_num = pd.Series([86,50,38,14,51])
app_result = new_num.apply(lambda x: x+1) #Here it's necessary use lambda inside brackets.
print(app_result)

0    87
1    51
2    39
3    15
4    52
dtype: int64

In [ ]:
#Map is a function which is used to overwrite the item inside a series.
mapped_series = new_num.map({86: 'Eighty Six', 14: 'Fourteen'}) #.Map values using dictonary
mapped_series

0    Eighty Six
1           NaN
2           NaN
3      Fourteen
4           NaN
dtype: object

In [ ]:
#Sort = It is used to sort items in Series by Ascending to Decending or Decending to Ascending
data = pd.Series([987,654,321,741,852,963,357,951])
sort_result = data.sort_values()
print('Sort items in series by using .sort_values function:\n',sort_result) #It will only sort values, indexes will change according to their values position.

Sort items in series by using .sort_values function:
 2    321
6    357
1    654
3    741
4    852
7    951
5    963
0    987
dtype: int64

In [ ]:
#Checking null values in a series using .isnull() function.
print('Here is the series:\n',mapped_series)
print('Here we are checking that is there any null values or not in above series:\n',mapped_series.isnull())

Here is the series:
 0    Eighty Six
1           NaN
2           NaN
3      Fourteen
4           NaN
dtype: object
Here we are checking that is there any null values or not in above series:
 0    False
1     True
2     True
3    False
4     True
dtype: bool

In [ ]:
#Filling values in null values
filled_series = mapped_series.fillna(0)
print(filled_series)

0    Eighty Six
1             0
2             0
3      Fourteen
4             0
dtype: object

In [ ]:
#QUERYING SERIES
#Selecting and filtering data based on specific conditions is an essential aspect of querying a Pandas Series.

data = pd.Series({'a':56,'b':54,'c':27,'d':78,'e':89,'f':56,'g':54,'h':22,'i':27})
greater_then_30 = data[data > 30]
print('These are the items which are greater then 30: \n',greater_then_30)
equalto_27 = data[data == 27]
print('Printing the items in a series which are equal to 20:\n', equalto_27)
multiple_and_condition = data[(data > 20) & (data < 60)]                                          #Have a look in '&' operator in between.
print('Items which are greater then 20 and less then 60 will print:\n', multiple_and_condition)
multiple_or_condition = data[(data == 27) | (data == 56)]
print('Item in which 27 or 56 are same:\n',multiple_or_condition)

These are the items which are greater then 30:
 a    56
b    54
d    78
e    89
f    56
g    54
dtype: int64
Printing the items in a series which are equal to 20:
 c    27
i    27
dtype: int64
Items which are greater then 20 and less then 60 will print:
 a    56
b    54
c    27
f    56
g    54
h    22
i    27
dtype: int64
Item in which 27 or 56 are same:
 a    56
c    27
f    56
i    27
dtype: int64

In [ ]:
filter_by_list = data[data.isin([56,27,78])]
print('Getting items with specific values under a series:\n',filter_by_list)

Getting items with specific values under a series:
 a    56
c    27
d    78
f    56
i    27
dtype: int64

In [ ]:
#Selecting items which comes with same alphabet using .str.startswith() function.
names = pd.Series(['amit','Satish','rahul','shivam','neeraj','nikhil','tarun','mukesh','ritik'])
filter_name = names[names.str.startswith('s')] #Here we are finding items which starts with specific keyword.Exact Match Phase.
print(filter_name)

3    shivam
dtype: object

In [ ]:
print(series_with_index)
loc_result = series_with_index.loc[['c','e']] #Extracting items using index
print(loc_result)
iloc_result = series_with_index.iloc[3:8] #Extract item whose indexing starts from 3 to indexing 8-1 = 7
print(iloc_result)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64
c    3
e    5
dtype: int64
d    4
e    5
f    6
g    7
h    8
dtype: int64

#DataFrame
- A Pandas DataFrame is a two-dimensional, tabular data structure with labeled axes (Rows and columns). It is a primary data structure in the Pandas library, providing a versatile and efficient way to handle and manipulate data in Python.

In [ ]:
#Creating a Dataframe using a Dictionary
dict_data = {'Name':['Rahul','Sumit','Nikhil','Satish','Ritesh','Amit','Rajesh','Prateek'],
             'Age': [32,22,22,24,26,25,22,25],
             'Salary': [86000,50000,88000,14000,51000,42000,38000,65000],
             'Department': ['Manager','HR','IT','Marketing','Sales','IT','Sales','IT']
            }
df_data = pd.DataFrame(dict_data)
df_data

      Name  Age  Salary Department
0    Rahul   32   86000    Manager
1    Sumit   22   50000         HR
2   Nikhil   22   88000         IT
3   Satish   24   14000  Marketing
4   Ritesh   26   51000      Sales
5     Amit   25   42000         IT
6   Rajesh   22   38000      Sales
7  Prateek   25   65000         IT

In [ ]:
#Creating a DataFrame using list
import pandas as pd

list_data = [['Rahul',32,86000,'Manager'],['Sumit',22,50000,'HR'],['Nikhil',22,88000,'IT'],['Satish',44,14000,'Marketing'],['Ritesh',26,51000,'Sales'],['Amit',25,42000,'IT'],['Rajesh',22,38000,'Sales'],['Prateek',25,65000,'IT']]
col = ['Name','Age','Salary','Department']
list_df = pd.DataFrame(list_data, columns = col)
print(list_df)

      Name  Age  Salary Department
0    Rahul   32   86000    Manager
1    Sumit   22   50000         HR
2   Nikhil   22   88000         IT
3   Satish   44   14000  Marketing
4   Ritesh   26   51000      Sales
5     Amit   25   42000         IT
6   Rajesh   22   38000      Sales
7  Prateek   25   65000         IT

In [ ]:
#Creating a DataFrame by a CSV File.
df_csv = pd.read_csv('data.csv')
print(df_csv)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
#Accessing the column by column name
print('The Country in above dataframe are:\n', df_csv['Country']) #Extracting Country column from above dataframe.
print('The Age in above dataframe are:\n', df_csv['Age']) #Extracting Age column from above dataframe.
print('The Salary in above dataframe are:\n', df_csv['Salary']) #Extracting Salary column from above dataframe.
print('The Purchased in above dataframe are:\n', df_csv['Purchased']) #Extracting Purchased column from above dataframe.

The Country in above dataframe are:
 0     France
1      Spain
2    Germany
3      Spain
4    Germany
5     France
6      Spain
7     France
8    Germany
9     France
Name: Country, dtype: object
The Age in above dataframe are:
 0    44.0
1    27.0
2    30.0
3    38.0
4    40.0
5    35.0
6     NaN
7    48.0
8    50.0
9    37.0
Name: Age, dtype: float64
The Salary in above dataframe are:
 0    72000.0
1    48000.0
2    54000.0
3    61000.0
4        NaN
5    58000.0
6    52000.0
7    79000.0
8    83000.0
9    67000.0
Name: Salary, dtype: float64
The Purchased in above dataframe are:
 0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [ ]:
#Accessing multiple column by column name using double [[]]
print(df_csv[['Country','Salary']]) #Here we are using double [[]] to exract 2 columns form above dataframe.

   Country   Salary
0   France  72000.0
1    Spain  48000.0
2  Germany  54000.0
3    Spain  61000.0
4  Germany      NaN
5   France  58000.0
6    Spain  52000.0
7   France  79000.0
8  Germany  83000.0
9   France  67000.0

In [ ]:
# Accessing a specific row by index
print(df_csv)
print('\n\n',df_csv.iloc[1]) #Using .iloc[] we access all the elements of all the row and column which is in that particular indexing.

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes


 Country        Spain
Age             27.0
Salary       48000.0
Purchased        Yes
Name: 1, dtype: object

In [ ]:
#Accessing rows based on condition
print(df_csv[df_csv['Salary'] > 60000]) #Extracting rows whose salary is greater then 60,000

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
3    Spain  38.0  61000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
# Accessing a single cell by label using .at[]
print(df_csv.at[7, 'Salary']) #Using .at[] we are able to extract the indexing element under any defined columns

79000.0

In [ ]:
# Accessing a single cell by position using .iat[]
print(df_csv)
print(df_csv.iat[7,2]) #Accessing the element which is in 7th Row and 2nd Column.

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes
79000.0

In [ ]:
print(df_csv.loc[2]) #Extracting element with 2nd Row and 2nd column.

Country      Germany
Age             30.0
Salary       54000.0
Purchased         No
Name: 2, dtype: object